@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Jersey+20&display=swap');

/*font-family: "Bungee Spice", sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    font-family: "Bungee Spice", sans-serif;
    font-size: 23px;
}

header .navbar {
    background-color: rgb(0, 0, 0);
    min-height: 100px;
    z-index: 1;
}

.intro {
    height: 200px;
    background-image: url(./img/skiline\ gtr.jpg.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: "Bungee Spice", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;

}

.box {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: rgb(19, 19, 19);
}

aside {
    padding: 3rem;
    position: sticky;
    top: 0;
    height: 100vh;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;*/
}

.boton {
    background-color: transparent;
    border: 0;
    /*color: aliceblue;*/
    font-size: 1rem;
    cursor: pointer;
    gap: 1rem;
    text-align: center;
}

.boton-a {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    padding-top: 2rem;
    border-radius: 1rem;
    background-color: rgb(67, 67, 67);
    width: 100%;
    border: 1px solid black;
    text-align: center;
}

.boton-a:hover {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

main {
    background-color: rgb(46, 46, 46);
    margin: 1rem;
    margin-left: 0;
    border-radius: 1rem;
    padding: 2rem;
}

.titulo {
    font-family: "Bungee Spice", sans-serif;
    margin-bottom: 1rem;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.accesorio-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.info {
    background-color: black;
    color: aliceblue;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.agregar {
    border: 0;
    background-color: aliceblue;
    padding: .5rem;
    text-transform: uppercase;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid aliceblue;
}

.agregar:hover {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

footer{
    background-color: rgb(0, 0, 0);
    height: 100px;
    text-align: center;
}

/*Inicia link todoterreno*/

.camionetas {
    height: 220px;
    background-image: url(./img/Toyota\ 1.j[g.webp);
    background-size: cover;
    background-position: center;
}